/* ----------------GLOBAL STYLES----------------- */

body {
    background-color: #1A1A1A;
    color: white;
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root {
    --nav-color: #6FC8FF;
}

p {
    font-family: 'Roboto';
    font-weight: lighter;
}

a {
    text-decoration: none;
}

h3:hover{
    color: var(--nav-color) !important;
}

/* ----------------HEADER AND NAVIGATION STYLES----------------- */

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 10%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.logo {
    height: 50px;
    width: 50px;
}

.nav__links a, .cta, .overlay__content a {
    color: #edf0f1;
    text-decoration: none;
  }
  
.nav__links {
    list-style: none;
    display: flex;
}
  
.nav__links li {
    padding: 0px 20px;
}
  
.nav__links li a {
    transition: color 0.3s ease 0s;
}
  
.nav__links li a:hover {
    color: #0088a9;
}

/* ----------------ABOUT SECTION----------------- */

#about {
    margin-top: 60px;
    text-align: center;
}

/* ----------------ARTICLES STYLES----------------- */

#articleList {
    padding-inline-start: 0;
    display: grid;
    grid-template-columns: repeat(3, 330px);
    margin-top: 50px;
    align-content: center;
    justify-content: center;
}

.character {
    list-style-type: none;
    /*background-color: #1f1e1e;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);*/
    border-radius: 0px;
    padding: 0px 0px 30px 0px;
    margin-bottom: 10px;
    width: 300px;
    text-align: left;
}

/* ----------------FOOTER STYLES----------------- */

footer {
    text-align: center;
    padding: 2px;
    background-color: #2b2a2a;
    margin-top: 50px;
  }
  
/* ----------------MOBILE NAVIGATION STYLES----------------- */
  
.menu {
    display: none;
}
  
.overlay {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    background-color: #24252a;
    overflow-x: hidden;
    transition: width 0.5s ease 0s;
}
  
.overlay--active {
    width: 100%;
}
  
.overlay__content {
    display: flex;
    height: 100%;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
  
.overlay a {
    padding: 15px;
    font-size: 36px;
    display: block;
    transition: color 0.3s ease 0s;
}
  
.overlay a:hover,
.overlay a:focus {
    color: #0088a9;
}

.overlay .close {
    position: absolute;
    top: 20px;
    right: 45px;
    font-size: 60px;
    color: #edf0f1;
  }
  
@media screen and (max-height: 450px) {
    .overlay a {
      font-size: 20px;
    }

    .overlay .close {
      font-size: 40px;
      top: 15px;
      right: 35px;
    }

    #articleList {
      padding-inline-start: 0;
      display: grid;
      grid-template-columns: repeat(1, 0.1fr);
    }

    .character {
        list-style-type: none;
        border-radius: 0px;
        padding: 0px 0px 30px 0px;
        margin-bottom: 10px;
        width: 300px;
        text-align: left;
    }
}
  
@media only screen and (max-width: 800px) {
    .nav__links,
    .cta {
      display: none;
    }

    .menu {
      display: initial;
    }

    #articleList {
        padding-inline-start: 0;
        display: grid;
        grid-template-columns: repeat(1, 0.1fr);
      }

    .character {
        list-style-type: none;
        border-radius: 0px;
        padding: 0px 0px 30px 0px;
        margin-bottom: 10px;
        width: 300px;
        text-align: left;
      }
}
/* ----------------END----------------- */